.chats {
    height: calc(100vh - 44px);
    width: 100vw;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1673460244030-b83edb644f4a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}